/*Estilos para materialieze*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*Ya no es necesario puesto que estoy ocultando el sidenav por defecto*/
/*header, main, footer {
    padding-left: 300px;
}*/

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

/*Esto para los iconos esten centrados*/
.fa {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

/*Estos 2 para el input search del sidenav*/
#search-li {
    margin-left: 20px;
    margin-right: 20px;
}

#search {
    text-align: center;
}

/*Esto sirve para cambiar el color por defecto de los items dentro de un select*/
ul.dropdown-content.select-dropdown li:not(.disabled) span {
    color: #1976d2; 
}