@{ ViewData["Title"] = "Editar Bases de datos"; }

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="section">
                <h5>Seleccione una opcion para comenzar</h5>
            </div>
            <div class="input-field col s12">
                <select id="select_editarDB">
                    <option value="-1" disabled selected>Seleccione...</option>
                    <option value="1">Aulas</option>
                    <option value="2" disabled>Disponibilidad Profesor</option>
                    <option value="3">Materias</option>
                    <option value="4">Profesores</option>
                    <option value="5">Profesores por materias</option>
                    <option value="6">Secciones</option>
                </select>
                <label>Seleccione...</label>
                <a class="waves-effect waves-light btn" id="btn_buscar"><i class="material-icons left">cloud</i>Buscar</a>
            </div>
        </div>
    </div>
</div>