<li><div class="divider"></div></li>
<li><a asp-area="" asp-controller="Home" asp-action="Index" class="waves-effect waves-red">Inicio<i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
<li><a asp-area="" asp-controller="Profesor" asp-action="Index" class="waves-effect waves-red">Secciones<i class="fa fa-code-fork fa-2x" aria-hidden="true"></i></a></li>
<li><a asp-area="" asp-controller="CargarDisponibilidad" asp-action="Index" class="waves-effect waves-red">Cargar Disponibilidad<i class="fa fa-tasks fa-2x" aria-hidden="true"></i></a></li>
<li><a asp-area="" asp-controller="Editar" asp-action="Index" class="waves-effect waves-red">Editar Base de Datos<i class="fa fa-database fa-2x" aria-hidden="true"></i></a></li>

<li class="no-padding">
    <ul class="collapsible collapsible-accordion">
        <li>
            <a class="collapsible-header">
                Dropdown
                <i class="nav-drop-icon material-icons">keyboard_arrow_right</i>
                @*<i class="material-icons right">arrow_drop_down</i>*@
            </a>
            <div class="collapsible-body">
                <ul>
                    <li><a class="waves-effect" href="#!">Dropdown1</a></li>
                    <li><a class="waves-effect" href="#!">Dropdown2<i class="material-icons">cloud</i></a></li>
                    <li><a class="waves-effect" href="#!">Dropdown3</a></li>
                    <li><a class="waves-effect" href="#!">Dropdown4</a></li>
                    <li><a class="waves-effect" href="#!">Dropdown5</a></li>
                </ul>
            </div>
        </li>
    </ul>
</li>