@model Schedule.Web.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row" id="barra-progeso" style="display:none">
        <div class="col s12">
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="section">
                <h4>Bienvenido <small id="user"></small></h4> 
                <div class="divider"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m7">
            <div class="card grey darken-4">
                <div class="card-content white-text">
                    <span class="card-title">Descargas</span>
                    <p>Aqui encontrara los links a las planificaciones del semestre actual.</p>
                </div>
                <div class="card-action">
                    <a href="@Model.UrlPlanificacionAcademica">Planificacion Acad.</a>
                    <a href="@Model.UrlPlanificacionAulas">Planificacion Aulas</a>
                    <a href="@Model.UrlPlanificacionHorarios">Horario</a>
                </div>
            </div>
        </div>
        <div class="col s12 m5">
            <div class="card grey darken-4">
                <div class="card-content white-text">
                    <span class="card-title">Periodo Academico</span>
                    <p>Actualmente el periodo academico es:</p>
                    <h5 id="periodo"><h5>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <environment names="Development">
        <script src="~/js/EditarDB/periodoCarrera.js"></script>
        <script src="~/js/Home/home.js"></script>
    </environment>
  
    <environment names="Staging,Production">
        <script src="~/js/Home/home.min.js"></script>
    </environment>
}
