@{
    ViewData["Title"] = "Change Password";
}
<div class="container">
    <partial name="_ProgressBar"/>
    <div class="row">
        <div class="col s12">
            <div class="section">
                <h5>Cambio de password</h5>
                <div class="divider"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="z-depth-2 row" style="padding: 15px 15px 0px 0px;">
                <form id="div_change_password" class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fa fa-lock prefix"></i>
                            <input id="currentPassword" name="currentPassword" type="password" class="validate" data-length="10" placeholder="Password actual">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fa fa-lock prefix"></i>
                            <input id="password" name="password" type="password" class="validate" data-length="10" placeholder="Nueva password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fa fa-lock prefix"></i>
                            <input id="password_confirm" name="password_confirm" type="password" class="validate" data-length="10" placeholder="Confirme nueva password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center">
                            <button id="btn_save_changes" class="hoverable z-depth-3 btn green waves-effect waves-light" type="button">
                                Guardar Cambios
                                <i class="fa fa-sign-in right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <environment names="Development">
        <script src="~/js/Account/changePassword.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/Account/account.min.js"></script>
    </environment>
}