@model Schedule.Web.ViewModels.LoginViewModel
@{
    Layout = "";
}

<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="icon" href="favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/lib/materialize-css/css/materialize.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/Login.css" rel="stylesheet" />
</head>

<body>
    <header>
        <nav class="grey darken-4" role="navigation">
            <div class="nav-wrapper container">
                <a href="#!" class="brand-logo center">Schedules<i class="fa fa-list-alt hide-on-small-only" aria-hidden="true"></i></a>
            </div>
        </nav>
    </header>

    <main>
        <center>
            <div class="container">
                <h3 class="center teal-text darken-4">Iniciar Sesion</h3>
                <div class="divider"></div>
                <div class="section"></div>
                <div class="row">
                    <div class="col s12 m8 offset-m2">
                        <div class="z-depth-2 row" style="padding: 15px 15px 0px 0px;">
                            <form id="formLogin" class="col s12" method="post" asp-controller="Account" asp-action="Login">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fa fa-user prefix"></i>
                                        <input asp-for="Username" id="username" name="username" type="text" class="validate" data-length="10" placeholder="Username">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fa fa-lock prefix"></i>
                                        <input asp-for="Password" id="password" name="password" type="password" class="validate" data-length="10" placeholder="******">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 center">
                                        <button id="btnLogin" class="hoverable z-depth-3 btn green waves-effect waves-light" type="submit" name="action">
                                            Iniciar Sesion
                                            <i class="fa fa-sign-in right"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="progress" style="display:none">
                            <div class="indeterminate"></div>
                        </div>
                    </div>
                </div>
                @* Si existe algun error en el modelo se genera esto *@
                @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
            {
                    @foreach (var modelError in Html.ViewData.ModelState.SelectMany(keyValuePair => keyValuePair.Value.Errors))
                {
                        <input type="hidden" class="error" value="@modelError.ErrorMessage" />
                    }
                }
            </div>
        </center>
    </main>

    <footer class="page-footer grey darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">© Copyright 2017</h5>
                    <p class="grey-text text-lighten-4">Wolfteam20. All rights reserved.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text"><a class="grey-text text-lighten-3" href="https://github.com/Wolfteam">GitHub<i class="fa fa-github" aria-hidden="true"></i></a></h5>
                </div>
            </div>
        </div>
    </footer>

    <!-- ======================== Javascript ======================== -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/materialize-css/js/materialize.min.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/js/utilidades.js"></script>
    <script src="~/js/login.js"></script>
</body>

</html>